@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Description}", "Details", new { id = recipe.RecipeId })</li>
    }
  </ul>
} 
else
{
  <h3>No recipes have been added yet!</h3>
}

@using (Html.BeginForm("SearchAct", "Home", FormMethod.Post))
{
  <div>
      Search for a Recipe:<br>
      <input type="text" id="recipeToFind" name="recipeToFind">

      <input type="submit" id="submitId" value="submit" />

  </div>
}

@* @{ // might show search Result
  if(ViewBag.SearchKey != null)
  {
      <span>
          Search Key: @ViewBag.SearchKey
      </span>
  }
} *@

<br>
<p>@Html.ActionLink("Add new recipe", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>